<template>
    <tr>
        <td>
            <au-textbox value.bind="data.roNo" error.bind="error.roNo" read-only="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="selectedComodity" error.bind="error.comodity" text.bind="comodityView" read-only="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.description" error.bind="error.description" read-only.bind="readOnly">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="data.quantity" error.bind="error.quantity" read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td>
            <au-textbox value.bind="selectedUom" error.bind="error.uom" text.bind="uomView" read-only="true">
            </au-textbox>
        </td>

        <!-- <td if.bind="!readOnly">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td> -->
    </tr>
</template>