<template>
    <tr>
        <td>
            <au-autocomplete
                value.bind="selectedRO"
                error.bind="error.RONumber"
                read-only.bind="(readOnly||isEdit)"
                loader.bind="roLoader"
                query.bind="filterCostCalculationGarment"
                options.bind="controlOptions"
                key="Name"
                text.bind="roView"
                placeholder="pilih RO">
            </au-autocomplete>
        </td>
        <td>
            <au-textbox
                value.bind="data.Article"
                read-only="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.comodity"
                read-only="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-multiline
                value.bind="data.Material"
                read-only.bind="readOnly"
                error.bind="error.Material"
                options.bind="controlOptions">
            </au-multiline>
        </td>
        <td>
            <numeric 
                value.bind="data.Quantity" 
                error.bind="error.Quantity" 
                read-only.bind="options.readOnly" 
                format = "0"
                options.bind="controlOption">
            </numeric>
        </td>
        <td>
            <au-textbox 
                value.one-way="data.Uom.Unit" 
                read-only.bind="true" 
                options.bind="controlOption">
            </au-textbox>
        </td>
        <td>
            <au-numeric
                value.bind="data.Price"
                error.bind="error.Price"
                read-only.bind="options.readOnly || hasItems" 
                options.bind="controlOptions"
                change.delegate="PriceChanged($event)"
                format = "0,0.00">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="data.Amount" 
                error.bind="error.Amount" 
                read-only.bind="true" 
                options.bind="controlOption">
            </au-numeric>
        </td>
        <td>
            <au-datepicker
                value.bind="data.DeliveryDate"
                error.bind="error.DeliveryDate" 
                read-only.bind="options.readOnly" 
                options.bind="controlOptions">
            </au-datepicker>
        </td>
        <td if.bind="!options.readOnly && data.type!='Ekspor'">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
    <tr>
        <td colspan.bind="9">
            <au-collection
                items.bind="data.Items"
                errors.bind="error.Items"
                read-only.bind="readOnly"
                options.bind="itemsInfo.options"
                columns.bind="detailHeader"
                change.delegate="itemsChanged($event)"
                item-template="modules/merchandiser/garment-sales-contract/template/item"
                add.bind="itemsInfo.onAdd"
                options.bind="itemsOptions"
                remove.bind="removeItems"
                view-model.ref="SCCollection">
            </au-collection>
        </td>
    </tr>
  </template>